.container{
  width: 100%;
  height: 100vh;
  background-color: #f4ecec;
  display: flex;
  justify-content: center;
  align-items: center;;
}
#stage{
  width: 600px;
  height: 600px;
  border: 2px grey dashed;
}
